html {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	background: $background-image no-repeat center center / cover fixed;
	background-size: cover;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	max-width: 1000px;
	box-sizing: border-box;
}

.btn {
	background-color: #020617;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 13px;
	border-radius: 20px;
	transition: all 0.3s;
	&:hover {
		background-color: cyan;
	}
	&.pulse:hover {
		animation: pulse 1s infinite;
	}
	
}



@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
}

@keyframes wiggle {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-5deg);
	}
	75% {
		transform: rotate(5deg);
	}
}
@media (max-width: 768px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 480px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}
